<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Retriver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8723F0081E3E0EAF00964995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8723F03B1E3E165E00964995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8723F0EB1E3E388000964995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>877EF9121DB9B08300D83C27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
